@import "/src/components/ProductImageWrapper/productImageWrapper.scss";

.product-image-editor {
  width: 25rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  // background-color: red;

  .element-viewer {
    width: 100%;
    display: flex;

    .product-image-wrapper {
      @include product-image-wrapper(25rem, 90%);
  
      .media-undisplayable-title {
        color: black;
      }
    }

    .undisplayable-image-zone {
      @include product-image-wrapper(25rem);
      display: flex;
      justify-content: center;
      align-items: center;
      
      .undisplayable-image-header {
        color: black;
      }
    }
  }
  
  .image-showcase {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    justify-content: start;
    gap: .5rem;
    scrollbar-width: none;

    .media-preview {
      @include product-image-wrapper(10%);
    }

    hr {
      border: 0.1rem solid grey;
      margin: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .media-preview {
      @include product-image-wrapper(5rem);
      border: .15rem solid transparent;
      transition: border 200ms ease;

      &.selected {
        background: rgb(219,244,255);
        background: radial-gradient(circle, rgba(219,244,255,1) 0%, rgba(0,134,196,1) 100%);
      }
    }

    .media-add {
      @include product-image-wrapper(5rem);
      width: 5rem;
      background: transparent;
      flex-shrink: 0;
      border: .15rem solid var(--background-highlight-color);
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      #add-file {
        display: none;
      }

      input {
        display: none;
      }
    }
  }

  .media-management {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;

    .selected-media-management {
      display: flex;
      flex-direction: row;
      gap: .5rem;

      button.selected-media-action {
        flex: 1;
        padding: .5rem;
        border-radius: .5rem;
        background-color: var(--background-highlight-color);
        border: none;
        color: white;
        cursor: pointer;
      }
    }

    .add-media {
      padding: .5rem;
      border-radius: .5rem;
      background-color: transparent;
      border: .15rem solid var(--background-highlight-color);
      color: white;
      cursor: pointer;
    }
  }
}