#admin-product-tag-management.page {
  button.panel-tool {
    &.delete {
      background-color: rgb(255, 70, 70);
    }
  }

  table {
    thead {
      td {
        &.name {
          padding-inline: 1rem;
          width: 100%;
        }
      }
    }
  }
}