.flat-product-card {
  border-left: .2rem solid var(--background-highlight-color);
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  min-width: 10rem;
  padding: .5rem 1rem;
  height: auto;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  
  * {
    user-select: none;
    cursor: default;
  }

  .product-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .product-name {
      display: inline;
      color: var(--text-main-color);
    }
  }

  .product-price-related {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .product-discount-box {
      display: inline-block;
      background-color: var(--background-highlight-color);
      color: var(--text-main-color);
      padding: .1rem .25rem;
      border: .1rem solid var(--background-main-color);

      .product-discount {
        font-weight: bold;
      }
    }

    .product-price-showcase {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .product-source-price, .product-current-price {
        width: 5rem;
        color: var(--text-main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .product-source-price {
        text-decoration: line-through;
      }
    }
  }

  &.selected {
    background-color: var(--background-highlight-color) !important;
  }
}