#admin-product-management.page {
  .panel-tool {
    &.delete {
      background-color: rgb(255, 70, 70);
    }
  }

  main {
    thead {
      .name {
        padding-inline: 1rem;
        width: 100%;
        text-align: left;
      }
    }
  }
}