#admin-product-management.page {
  .panel-header {
    .center-panel-tools {
      width: 30vw;
    }
  
    .panel-tool {
      &.delete {
        color: rgb(255, 70, 70);
        border: .1rem solid rgb(255, 70, 70);

        path {
          fill: rgb(255, 70, 70);
        }
      }
    }
  }

  .product-absence {
    padding: 20vh 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      margin: .5rem;
    }

    .description {
      color: grey;
      font-size: .9rem;
      display: inline;
    }
    
    .action {
      margin-top: 1rem;
      background-color: transparent;
      border: none;
      font-size: medium;
      padding: .5rem 1.5rem;
      border-radius: .5rem;
      background-color: var(--background-highlight-color);
      cursor: pointer;
    }
  }
}