#admin-product-management.page {
  .panel-tool {
    &.delete {
      background-color: rgb(255, 70, 70);
    }
  }

  .panel-content {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    .flat-product-card {
      &:nth-child(2n - 1) {
        background-color: rgb(40, 40, 40);
      }
    }
  }
}