@import '../../components/ProductImageWrapper/productImageWrapper.scss';

.product-card {
  position: relative;
  box-sizing: border-box;
  min-width: 10rem;
  height: auto;
  cursor: pointer;


  .product-image-boundary {
    @include product-image-wrapper(100%);

    img {
      @include wrapped-product-image()
    }
  }

  .product-details {
    * {
      color: white;
      font-weight: normal;
      margin: 0;
    }

    .product-type {
      font-weight: bold;
      margin-top: .5rem;
      color: grey;
    }

    .product-name {
      margin-top: .2rem;
    }

    .product-pricing-related {
      width: 100%;
      margin-top: .5rem;

      .product-discount-box {
        display: inline-block;
        background-color: rgb(0, 119, 255);
        padding: .1rem .25rem;
  
        .product-discount {
          font-weight: bold;
        }
      }

      .product-price-showcase {
        display: flex;

        .product-source-price {
          margin-left: .5rem;
          color: grey;
          text-decoration: line-through;
        }
      }
    }

  }

  &:hover > .product-image-boundary {
    transform: scale(1.05);
  }
}


