.sequential-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > header {
    position: sticky;
    // Sticky header mask effect
    margin-top: -2rem;
    padding-top: 2rem;
    top: 3.5rem; // Starting below the header, to hide the backdrop content

    background-color: var(--background-main-color);
    width: 100%;
    z-index: 100;
    padding-bottom: 0.5rem;
    border-bottom: .2rem solid var(--background-secondary-color);
    display: grid;
    grid-template-areas: 'icon title' 'icon description';
    grid-template-columns: auto 1fr;
    column-gap: 1rem;

    .icon {
      grid-area: icon;
      justify-self: center;
      align-self: center;
      margin-left: 1rem;
    }

    .title {
      padding-bottom: 1rem;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
      grid-area: title;
    }

    .description {
      font-size: .8rem;
      color: rgb(166, 166, 166);
      grid-area: description;
    }
  }

  main {
    width: 100%;
    height: fit-content;
  }
}