#catalog.page {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    min-height: 5rem;
  }

  .panel-header {
    .search-boundary {
      position: relative;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      border-radius: .5rem;
      width: 20rem;
      flex: 1;
      border: .1rem solid rgb(185, 185, 185);
      transition: border .3s ease;
      
      svg {
        margin: auto .75rem;

        path {
          fill: rgb(184, 184, 184);
          transition: color .3s ease;
        }
      }
  
      input {
        position: relative;
        outline: none;
        border: none;
        width: 100%;
        padding: .5rem;
        padding-left: 0;
        background-color: rgba(0, 0, 0, 0);
        color: white;
  
        &::placeholder {
          color: rgb(209, 209, 209);
        }
      }
    }
  }
    
  .catalog-filter-toggler-boundary {
    padding: .75rem;
    border-radius: .5rem;
    gap: .5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: background-color .2s ease;

    svg path {
      fill: white;
    }
    
    .catalog-filter-toggler-title {
      color: white;
      margin: 0;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
