.element-selector-option {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1rem;

  .element-selector-title {
    cursor: inherit;
    color: white;
  }

  &[aria-selected=true] {
    border-left: .2rem solid rgb(0, 174, 255);

    @keyframes selectAnimation {
      from   {
        margin-left: 0;
      }
      to {
        margin-left: .5rem;
      }
    }

    .element-selector-title {
      font-weight: 900;
      color: rgb(0, 174, 255);
      animation-name: selectAnimation;
      animation-duration: .25s;
      margin-left: .5rem;
    }
  }

  &:disabled {
    cursor: not-allowed;

    .element-selector-title {
      color: grey;
    }
  }
}