@import "/src/components/ProductImageWrapper/productImageWrapper.scss";

#inspect-product.page {
  button.panel-tool {
    &.discard {
      background-color: rgb(255, 70, 70);
    }
  }

  .panel-tools {
    position: fixed;
    right: 2rem;
  }  

  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    gap: 1rem;
    flex-grow: 1;
  }
}