#admin-order-management.page {
  main {
    tbody {
      .status {
        .container {
          padding: .5rem 1rem;
          border-radius: .5rem;
          text-transform: uppercase;
          background-color: var(--background-secondary-color);
        }

        &[data-status=open] .container {
          background-color: var(--background-highlight-color);
        }
      }
    }
  }

  .admin-panel-management-extensions {
    display: flex;
    flex-direction: column;

    & > header {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding-inline: 1rem;
      color: grey;
      cursor: pointer;
      height: 3rem;
      border-bottom: 0.1rem solid var(--background-secondary-color);
  
      span {
        font-size: 1.25rem;
        font-weight: 500;
        cursor: pointer;
        color: grey;
      }
    }

    .filter-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
    }
  }
}