.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: .25rem;

  .title-bar {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }

  .input-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: border .25s ease;
    border: 1px solid rgb(150, 150, 150);
    border-radius: .5rem;
    padding: 0;
    overflow: hidden;

    &:hover {
      border: 1px solid rgb(190, 190, 190);
    }

    &:focus-within {
      border: 1px solid var(--background-highlight-color);
    }

    &.valid {
      border: 1px solid rgb(64, 199, 66);

      .input-icon path {
        fill: rgb(64, 199, 66);
      }

      & + .input-description {
        color: rgb(64, 199, 66);
      }
    }

    &.warn {
      border: 1px solid rgb(255, 153, 51);

      .input-icon path {
        fill: rgb(255, 153, 51);
      }

      & + .input-description {
        color: rgb(255, 153, 51);
      }
    }

    &.invalid {
      border: 1px solid rgb(225, 40, 50);

      .input-icon path {
        fill: rgb(225, 40, 50);
      }

      & + .input-description {
        color: rgb(225, 40, 50);
      }
    }

    input {
      width: 100%;
      color: white;
      background-color: transparent;
      outline: none;
      padding: .5rem;
      font-size: larger;
      border: none;
    }

    .input-icon {
      margin: 0 .75rem;
    }
  }

  .input-description {
    margin-top: .1rem;
    font-size: smaller;
  }
}