.navbar {
  opacity: 1;
  top: 0;
  background-color: rgb(40, 40, 40);
  height: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10000;

  
  .navbar-section {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: auto;

    &.logo-boundary {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding: 1rem;
  
      i {
        color: white;
        transition: color .3s ease;
      }
      
      h2 {
        margin: 0;
        font-weight: 300;
        margin-left: .5rem;
        color: white;
        transition: color .3s ease;
      }
    }

    .navigation-boundary {
      display: table;
      flex-direction: row;
      padding: 0 1rem;
      margin: 0;
      height: 100%;
      
      li {
        display: table-cell;
        text-align: center;
        height: 100%;
        padding: 0 .5rem;
        cursor: pointer;
        vertical-align:middle;
        text-decoration: none;
        list-style-type: none;
        color: white;
      }
    }
  }

  &.native {
    position: absolute;
  }
  
  &.sticky {
    position: sticky;

    i, h2 {
      color: white !important;
    }
  }
  
  &.hybrid {
    height: 5rem;
    position: fixed;
    background-color: rgba(50, 50, 50, 0);
    transition: background-color .3s ease, height .3s ease;
  
    &.fixed {
      height: 3.5rem;
      background-color: rgb(50, 50, 50);
  
      i, h2 {
        color: white !important;
      }
    }
  }
}