tr.inline-table-product-tag-card {
  .common-info {
    text-align: left;
    margin: 0;
    max-width: 25vw;
    overflow: hidden;

    .name-limiter {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25rem;
        text-align: left;
      }
    }

    .info {
      text-transform: capitalize;
      color: rgb(122, 122, 122);
    }
  }
}