.checkbox-field {
  display: flex;
  width: fit-content;
  align-items: center;
  vertical-align: middle;
  gap: .5rem;

  .label {
    text-transform: uppercase;
    color: rgb(198, 198, 198);
  }

  .checkbox {
    min-width: max-content;
    width: 1.75rem;
    height: 1.75rem;
    min-height: fit-content;
    background-color: var(--background-main-color);
    outline: none;
    border: none;
    border-radius: .5rem;
    aspect-ratio: 1;
    border: 1px solid rgb(150, 150, 150);

    .checkbox-icon {
      visibility: hidden;
    }

    &[data-checked=true] {
      .checkbox-icon {
        visibility: visible;
      }
    }
  }
}