:root {
  --text-main-color: white;
  --text-secondary-color: white;
  --text-highlight-color: white;
  --background-main-dark-color: rgb(30, 30, 30);
  --background-dark-dilution-color: rgb(35, 35, 35);
  --background-secondary-dark-color: rgb(40, 40, 40);
  --background-main-color: var(--background-main-dark-color);
  --background-dilution-color: var(--background-dark-dilution-color);
  --background-secondary-color: var(--background-secondary-dark-color);
  --background-highlight-color: rgb(0, 160, 235);
}

html, body {
  background-color: var(--background-main-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
