:root {
  --text-main-color: white;
  --text-secondary-color: white;
  --text-highlight-color: white;
  --background-main-dark-color: rgb(30, 30, 30);
  --background-secondary-dark-color: rgb(40, 40, 40);
  --background-main-color: var(--background-main-dark-color);
  --background-secondary-color: var(--background-secondary-dark-color);
  --background-highlight-color: rgb(0, 160, 235);
}

html, body {
  background-color: var(--background-main-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.product-image-boundary {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: .5rem;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(170, 170, 170) 100%);
  box-sizing: border-box;

  img {
    width: 90%;
    height: 90%;
    object-fit: scale-down;
  }
}